name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build-ubuntu:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Create Release Branch
      run: git checkout -b release

    - name: Create Build Directory
      run: mkdir build-ubuntu

    - name: Configure Project
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build Project
      run: cmake --build build

    - name: Create Release
      run: |
        echo "Creating a GitHub release..."
        gh release create v0.0.1 ./bin/SFML-Graph-Plotter \
          --title "Release v0.0.1" \
          --notes "Release notes for v0.0.1" \
          --draft=false \
          --prerelease=false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # windows-latest:

  #   runs-on: ubuntu-latest
    
  #   steps:
  #   - uses: actions/checkout@v3

  #   - name: Create Build Directory
  #     run: mkdir build-windows

  #   - name: Build Project
  #     run: cd build-windows && cmake .. && cmake --build .

  # macos-latest:

  #   runs-on: ubuntu-latest
    
  #   steps:
  #   - uses: actions/checkout@v3

  #   - name: Create Build Directory
  #     run: mkdir build-macos

  #   - name: Build Project
  #     run: cd build-macos && cmake .. && cmake --build .